.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  color: #7b68ee;
}

.dialogsItems .active {
  color: blue;
}

.messages {
  padding: 10px;
}

.messages .message {
  color: #7b68ee;
}
